body {
    background-color: #554433;
}
.appframe {
    background-color: #fff;
    width: 1000px;
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.loading {
    padding: 2em;
}

h1 {
    font-size: 1.8em;
    color: #999;
    margin-bottom: 0;
}

img.frontpageImage {
    width: 100%;
}

.siteHeader {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";

    padding: 0.2em 0.5em;
}

.siteHeader h1 {
    text-shadow: 4px 4px 4px #aaa;
    color: #666666;
    line-height: 1.7em;
    text-align: center;
    font-weight: normal;
}

.errorMessage {
    background-color: #ee9999;
    text-align: center;
    padding: 0.2em;
    border: 1px solid;
    position: absolute;
    width: 100%;
    opacity: 0.75;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav {
    position:relative;
}
nav a, button {
    padding: 0.3em 0.7em;
    text-decoration: none;
    margin-top: 0.2em;
    display: inline-block;
    background-color: #eee;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1.1em;
    color: #607D8B;
}

nav li {
    margin-left: 0.3em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav li {
    padding: 0 0.1em;
}
nav > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 13%;
    position: relative;
}
nav > ul > li > ul {
    position: absolute;
    padding: 0.5em;
    opacity: 100;
    top: 100%;
    visibility: hidden;
    background-color: transparent;
    z-index: 100;
}
nav > ul > li:hover > ul {
    visibility: visible;
}
nav li input {
    margin-top: 0.5em;
}
li.loggInn {
    float: right;
}
li.moreOptions, li.moreOptions * {
    float:right;
}
li.searchToggle {
    float:right;
    text-align: right;
}
.searchTags {
    display: inline-block;
    padding: 0.4em 0em 0.3em 0.5em;
    font-weight: bold;
    color: #eee;
    height: 2.4em;
}
.searchTag {
    display: inline-block;
    background-color: #dd8;
    padding: 0.3em 0.5em;
    border-radius: 0.7em;
    margin-left: 0.4em;
    font-weight: normal;
    color: #000;
}
.searchTag:first-letter {
    text-transform:capitalize;
}
.loggUt > a {
    cursor: pointer;
}

button.newGroup {
    margin-left: 2em;
}
button.confirmDelete {
    border-color: #b21;
    border-style: inset;
}
div.deleteNotice {
    padding: 0.2em;
    color: #b21;
    font-style: italic;
    display: inline-block;
}

nav a:hover, nav button:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

input, textarea, div {
    font-size: 1em;
}

html, body {
    font-size: 16px;
}

a.imageText {
    text-decoration: none;
    font-size: 1.1em;
    color: #539191;
    display: inline-block;
    margin-top: 0.2em;
}

article {
    padding: 0.5em;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}