<article *ngIf="recipe" (keyup)="keyUp($event)">
    <div class="detailTop">
        <div class="detailLeftSide">
            <div class="name">
                {{recipe.name}}
            </div>
            <div class="imageBox">
                <img [src]="recipe.image ? recipe.image.imageData : placeholderImage"
                     class="imagePreview" />
            </div>
        </div>

        <div class="detailRightSide">
            <h3>Ingredienser:</h3>
            <div>
                <div [innerHTML]="withLineBreaks(recipe.transients.ingredients1)"
                     class="ingredients"></div>
                <div [innerHTML]="withLineBreaks(recipe.transients.ingredients2)"
                     class="ingredients"></div>
            </div>
        </div>
    </div>

    <div class="detailBottom">
        <h3>Slik gjør du:</h3>

        <div [innerHTML]="withLineBreaks(recipe.instructions)" class="inputField"></div>

        <div>
            <button (click)="editRecipe()">Rediger</button>
            <button (click)="goBack()">Tilbake</button>
            <button (click)="goToRecipes()" class="newGroup">Til oppskrifter</button>
            <button *ngIf="!deleteInProcess"       (click)="deleteRecipe()">Slett</button>
            <div *ngIf="deleteInProcess" class="deleteNotice">
                Sletting kan ikke angres. Er du sikker?
            </div>
            <button *ngIf="deleteInProcess" (click)="confirmDeleteRecipe()" class="confirmDelete">Ja, jeg vil slette</button>
        </div>
    </div>
</article>
