.inputField {
    clear: both;
    padding: 0 0 1em 0;
}

.inputField > input {
    width: 70%;
    float: right;
    font-size: 0.9em;
}

.detailTop {
    margin-top: 1em;
}

.detailLeftSide {
    display: inline-block;
    width: 43%;
    padding: 0.3em;
    vertical-align: top;
}

.detailRightSide {
    display: inline-block;
    width: 55%;
    padding: 0.3em;
    vertical-align: top;
}

textarea.ingredients {
    height: 20em;
    display: inline-block;
    width: 49%;
}

.instructions {
    width: 100%;
    height: 15em;
}

.imageBox {
    position: relative;
    cursor: hand;
}

.imagePreview {
    width: 100%;
}
.imageOverlay {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    opacity: 0.7;
    visibility: hidden;
    cursor: pointer;
}
.uploadImage {
    left: 0;
    background-color: #999;
    width: 100%;
}
.adjustImage {
    left: 50%;
    background-color: #bbb;
}
.uploadImage.imagePresent {
    width: 50%;
}
.imageBox:hover > .adjustImage.imagePresent {
    visibility: visible;
}
.imageBox:hover > .uploadImage {
    visibility: visible;
}
.imageText {
    margin-top: 30%;
    margin-left: 30%;
    z-index: 3;
    position: absolute;
    font-size: 1.4em;
    color: white;
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.imageOverlay.imagePresent .imageText {
    margin-top: 50%;
    margin-left: 25%;
}

.imageBox > img {
    cursor: pointer;
}
